
       
        
          <div class="table table-hover table-striped" ng-repeat="product in productListIds">
              <form name="form">

            <div class="row">
                <div class="col-md-6"><img class="imgsize flex-right" ng-src=" {{product.img_path}}"></div>
                 <div class="col-md-3 flex-right">Description{{product.description}}</div>
                
                
                <div class="col-md-4 font-container flex-right">Name {{product.prod_name}}</div>
                
                <div class="col-md-2 font-container flex-right">Price {{product.price}}</div>
              </div>

 </form> 
            </div>
          
        
          

